* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.loading{
  position: fixed;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #111111;
  opacity: 0.8;
  transition: all 0.5s;
  z-index: 1000;
}

.loaded {
  opacity: 0;
  display: none;
}

.fts {
  margin: 0 -30px 0 -15px !important;
}

.red {
  color: red !important;
  border-color: red !important;
}

.color-white {
  color: white ;
}
.color-blac {
  color: black;
}

.black-outline {
  -webkit-text-stroke: 1px black !important;
}

.margin-top {
  margin-top: 150px;
}

.full-width {
  width: 100% !important;
}

body {
  background-image: url('/src/components/images/background.jpg');
  background-color: black !important;
}

option {
  color: #000;
}

/* Pages */

.welcome-text {
  font-family: 'Courier New', Courier, monospace;
}


/* Pages */

/* Partials */

.header-auth-list {
  display: inline-flex;
  float: right;
}
.header-auth-list > li {
  list-style: none;
  margin: 5px;
}

.header-logo {
  cursor: pointer;
}

/* .rating_scale {
  display: block;
  text-align: center;
  font-size: 0;
  font-weight: 500;
}*/
 .rating_scale label {
  cursor: pointer;
  font-size: 28px;
}/*
.rating_scale span {
  display: inline-block;
  box-sizing: border-box;
  padding: 0.5em 1em;
  font-size: 16px;
  color: #fff;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  border-right: solid 1px #fff;
}
.rating_scale label:first-child span {
  border-left: solid 1px #fff;
  border-top-left-radius: 0.25em;
  border-bottom-left-radius: 0.25em;
}
.rating_scale label:last-child span {
  border-top-right-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
}
.rating_scale input[type="radio"] {
  display: none;
} */
.rating_scale input[type="radio"]:checked span {
  background-color: rgb(255, 236, 153);
  color: black;
} 

/* Partials */

/* Objects */

.global-button {
  width: 140px;
  height: 30px;
  font-size: 18px;
  border: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff;
  text-align: center;
  line-height: 50%;
  margin: 5px;
}

.global-button:hover{
  cursor: pointer;
  color: rgb(148, 148, 148);
}

#register-button {
  border: solid 1px rgb(207, 207, 207);
  border-radius: 25px;
  padding-bottom: 5px;
  color: #FFF;
}

#register-button:hover {
  color: rgb(148, 148, 148);
  border-color: rgb(148, 148, 148);
}
.user-btn:hover {
  text-decoration: underline rgb(148, 148, 148);
  color: rgb(148, 148, 148);
}

.text-link {
  cursor: pointer;
}

.text-link:hover {
  color: rgb(148, 148, 148);
  text-decoration: underline;
}

/* Objects */